In [1]:
# Team Jupiter

## A look at what affects a movies success?
    ### Success to be defined as both highest rated or most profitable.

In [2]:
# import packages

import pandas as pd
import numpy as np
import matplotlib
import glob
import os

In [3]:
# read in movie list and ratings files

ratings_df = pd.read_csv("../Data/ratings.csv")
movies_df = pd.read_csv("../Data/movies.csv")

In [4]:
# read in movie budgets, top 500 movies and best films since 1950 csv files

budgets_df = pd.read_csv("../Data/Most Profitable Movies of All Time - Inflation Adjusted.csv")
top500movies_df = pd.read_csv("../Data/Most Profitable Movies of All Time - Top 500 Movies (pink = added by us).csv")
yearbestmovie_df = pd.read_csv("../Data/Best_Films_Every_Year_Since_1950.csv")

In [5]:
# drop columns that wont be used for wrangling
# start with rating_df

In [6]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
ratings_df1 = ratings_df.drop(['timestamp'], axis=1)

In [8]:
ratings_df1 = ratings_df1.dropna()

In [9]:
ratings_df1.info() 
# no values were dropped, no nulls!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.3 MB

In [10]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movieId   9742 non-null   int64
 1   title     9742 non-null   object
 2   genres    9742 non-null   object
 3   genres.1  6891 non-null   object
 4   genres.2  3673 non-null   object
 5   genres.3  1335 non-null   object
 6   genres.4  348 non-null    object
 7   genres.5  77 non-null     object
 8   genres.6  14 non-null     object
 9   genres.7  2 non-null      object
 10  genres.8  1 non-null      object
 11  genres.9  1 non-null      object
dtypes: int64(1), object(11)
memory usage: 913.4+ KB

In [11]:
yearbestmovie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        70 non-null     int64
 1   Const           70 non-null     object
 2   Created         70 non-null     object
 3   Modified        70 non-null     object
 4   Description     0 non-null      float64
 5   Title           70 non-null     object
 6   URL             70 non-null     object
 7   Title Type      70 non-null     object
 8   IMDb Rating     70 non-null     float64
 9   Runtime (mins)  70 non-null     int64
 10  Year            70 non-null     int64
 11  Genres          70 non-null     object
 12  Num Votes       70 non-null     int64
 13  Release Date    70 non-null     object
 14  Directors       70 non-null     object
dtypes: float64(2), int64(4), object(9)
memory usage: 8.3+ KB

In [12]:
# drop columns [0,1,2,3,4,6,7] from Best_Films_Every_Year_Since_1950.csv

yearbestmovie_df1 = yearbestmovie_df.drop(yearbestmovie_df.columns[[0,1,2,3,4,6,7]],axis = 1)
yearbestmovie_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           70 non-null     object
 1   IMDb Rating     70 non-null     float64
 2   Runtime (mins)  70 non-null     int64
 3   Year            70 non-null     int64
 4   Genres          70 non-null     object
 5   Num Votes       70 non-null     int64
 6   Release Date    70 non-null     object
 7   Directors       70 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 4.5+ KB

In [13]:
budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          476 non-null    object
 1   unadjusted gross ($m)          476 non-null    int64
 2   inflation adjusted gross ($m)  476 non-null    object
 3   % budget recovered             476 non-null    object
 4   x times budget recovered       476 non-null    float64
 5   budget  (m)                    476 non-null    float64
 6   domestic gross (m)             476 non-null    int64
 7   domestic %                     476 non-null    object
 8   international gross (m)        476 non-null    object
 9   % of gross from international  476 non-null    object
 10  worldwide gross                476 non-null    object
 11  year                           476 non-null    int64
 12  decade                         476 non-null    object
 13  source                         476 non-null    object
 14  budget source                  397 non-null    object
 15  force label                    5 non-null      object
dtypes: float64(2), int64(3), object(11)
memory usage: 59.6+ KB

In [14]:
# drop columns [13, 14, 15] from Most Profitable Movies of All Time - Inflation Adjusted.csv

budgets_df1 = budgets_df.drop(budgets_df.columns[[13, 14, 15]],axis = 1)
budgets_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          476 non-null    object
 1   unadjusted gross ($m)          476 non-null    int64
 2   inflation adjusted gross ($m)  476 non-null    object
 3   % budget recovered             476 non-null    object
 4   x times budget recovered       476 non-null    float64
 5   budget  (m)                    476 non-null    float64
 6   domestic gross (m)             476 non-null    int64
 7   domestic %                     476 non-null    object
 8   international gross (m)        476 non-null    object
 9   % of gross from international  476 non-null    object
 10  worldwide gross                476 non-null    object
 11  year                           476 non-null    int64
 12  decade                         476 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 48.5+ KB

In [15]:
top500movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          558 non-null    object
 1   worldwide gross (m)            558 non-null    float64
 2   % budget recovered             558 non-null    object
 3   X times budget recovered       558 non-null    float64
 4   budget  (millions)             558 non-null    float64
 5   domestic gross (m)             558 non-null    float64
 6   domestic %                     558 non-null    object
 7   international gross (m)        558 non-null    object
 8   % of gross from international  558 non-null    object
 9   worldwide gross                558 non-null    object
 10  year                           558 non-null    int64
 11  decade                         558 non-null    object
 12  source                         477 non-null    object
 13  budget source                  398 non-null    object
 14  force label                    5 non-null      object
 15  horror                         558 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 69.9+ KB

In [16]:
# drop columns [12, 13, 14, 15] from Most Profitable Movies of All Time - Top 500 Movies (pink = added by us).csv

top500movies_df1 = top500movies_df.drop(top500movies_df.columns[[12, 13, 14, 15]],axis = 1)
top500movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          558 non-null    object
 1   worldwide gross (m)            558 non-null    float64
 2   % budget recovered             558 non-null    object
 3   X times budget recovered       558 non-null    float64
 4   budget  (millions)             558 non-null    float64
 5   domestic gross (m)             558 non-null    float64
 6   domestic %                     558 non-null    object
 7   international gross (m)        558 non-null    object
 8   % of gross from international  558 non-null    object
 9   worldwide gross                558 non-null    object
 10  year                           558 non-null    int64
 11  decade                         558 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 52.4+ KB

---

In [17]:
# after dropping columns that aren't needed and nulls its time to merge and transform data types if needed

In [18]:
# merge movies and ratings df's to list the movie name and genres for each user rating in the ratings df
# rating range from 0-5

movie_ratings_df = pd.merge(ratings_df1, movies_df)
movie_ratings_df

,userId,movieId,rating,title,genres,genres.1,genres.2,genres.3,genres.4,genres.5,genres.6,genres.7,genres.8,genres.9
0,1,1,4.0,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
1,5,1,4.0,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
2,7,1,4.5,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
3,15,1,2.5,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
4,17,1,4.5,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,160341,2.5,Bloodmoon (1997),Action,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100832,610,160527,4.5,Sympathy for the Underdog (1971),Action,Crime,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100833,610,160836,3.0,Hazard (2005),Action,Drama,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100834,610,163937,3.5,Blair Witch (2016),Horror,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100835,610,163981,3.5,31 (2016),Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
print(movie_ratings_df)

        userId  movieId  rating                             title     genres  \
0            1        1     4.0                  Toy Story (1995)  Adventure
1            5        1     4.0                  Toy Story (1995)  Adventure
2            7        1     4.5                  Toy Story (1995)  Adventure
3           15        1     2.5                  Toy Story (1995)  Adventure
4           17        1     4.5                  Toy Story (1995)  Adventure
...        ...      ...     ...                               ...        ...
100831     610   160341     2.5                  Bloodmoon (1997)     Action
100832     610   160527     4.5  Sympathy for the Underdog (1971)     Action
100833     610   160836     3.0                     Hazard (2005)     Action
100834     610   163937     3.5                Blair Witch (2016)     Horror
100835     610   163981     3.5                         31 (2016)     Horror

         genres.1  genres.2 genres.3 genres.4 genres.5 genres.6 genres.7  \
0       Animation  Children   Comedy  Fantasy      NaN      NaN      NaN
1       Animation  Children   Comedy  Fantasy      NaN      NaN      NaN
2       Animation  Children   Comedy  Fantasy      NaN      NaN      NaN
3       Animation  Children   Comedy  Fantasy      NaN      NaN      NaN
4       Animation  Children   Comedy  Fantasy      NaN      NaN      NaN
...           ...       ...      ...      ...      ...      ...      ...
100831   Thriller       NaN      NaN      NaN      NaN      NaN      NaN
100832      Crime     Drama      NaN      NaN      NaN      NaN      NaN
100833      Drama  Thriller      NaN      NaN      NaN      NaN      NaN
100834   Thriller       NaN      NaN      NaN      NaN      NaN      NaN
100835        NaN       NaN      NaN      NaN      NaN      NaN      NaN

       genres.8 genres.9
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
...         ...      ...
100831      NaN      NaN
100832      NaN      NaN
100833      NaN      NaN
100834      NaN      NaN
100835      NaN      NaN

[100836 rows x 14 columns]

---

In [48]:
# merge together the top500movies_df1 & budgets_df2 to combine all the movie budget and sales data into one df

In [27]:
budgets_df2 = budgets_df1.reindex(sorted(budgets_df1.columns), axis=1)
budgets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             476 non-null    object
 1   % of gross from international  476 non-null    object
 2   budget  (m)                    476 non-null    float64
 3   decade                         476 non-null    object
 4   domestic %                     476 non-null    object
 5   domestic gross (m)             476 non-null    int64
 6   inflation adjusted gross ($m)  476 non-null    object
 7   international gross (m)        476 non-null    object
 8   title                          476 non-null    object
 9   unadjusted gross ($m)          476 non-null    int64
 10  worldwide gross                476 non-null    object
 11  x times budget recovered       476 non-null    float64
 12  year                           476 non-null    int64
dtypes: float64(2), int64(3), object(8)
memory usage: 48.5+ KB

In [28]:
budgets_df2.rename(columns={'domestic %': '% of gross from domestic', 
                            'inflation adjusted gross ($m)': 'inflation adjusted gross (m)', 
                            'unadjusted gross ($m)': 'unadjusted gross (m)'}, inplace=True)

In [31]:
budgets_df2 = budgets_df2.reindex(sorted(budgets_df2.columns), axis=1)
budgets_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             476 non-null    object
 1   % of gross from domestic       476 non-null    object
 2   % of gross from international  476 non-null    object
 3   budget  (m)                    476 non-null    float64
 4   decade                         476 non-null    object
 5   domestic gross (m)             476 non-null    int64
 6   inflation adjusted gross (m)   476 non-null    object
 7   international gross (m)        476 non-null    object
 8   title                          476 non-null    object
 9   unadjusted gross (m)           476 non-null    int64
 10  worldwide gross                476 non-null    object
 11  x times budget recovered       476 non-null    float64
 12  year                           476 non-null    int64
dtypes: float64(2), int64(3), object(8)
memory usage: 48.5+ KB

In [23]:
top500movies_df1 = top500movies_df1.reindex(sorted(top500movies_df1.columns), axis=1)
top500movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             558 non-null    object
 1   % of gross from international  558 non-null    object
 2   X times budget recovered       558 non-null    float64
 3   budget  (millions)             558 non-null    float64
 4   decade                         558 non-null    object
 5   domestic %                     558 non-null    object
 6   domestic gross (m)             558 non-null    float64
 7   international gross (m)        558 non-null    object
 8   title                          558 non-null    object
 9   worldwide gross                558 non-null    object
 10  worldwide gross (m)            558 non-null    float64
 11  year                           558 non-null    int64
dtypes: float64(4), int64(1), object(7)
memory usage: 52.4+ KB

In [24]:
top500movies_df1.rename(columns={'X times budget recovered': 'x times budget recovered', 
                                 'budget  (millions)': 'budget (m)',
                                 'domestic %': '% of gross from domestic'}, inplace=True)

In [25]:
top500movies_df1 = top500movies_df1.reindex(sorted(top500movies_df1.columns), axis=1)
top500movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             558 non-null    object
 1   % of gross from domestic       558 non-null    object
 2   % of gross from international  558 non-null    object
 3   budget (m)                     558 non-null    float64
 4   decade                         558 non-null    object
 5   domestic gross (m)             558 non-null    float64
 6   international gross (m)        558 non-null    object
 7   title                          558 non-null    object
 8   worldwide gross                558 non-null    object
 9   worldwide gross (m)            558 non-null    float64
 10  x times budget recovered       558 non-null    float64
 11  year                           558 non-null    int64
dtypes: float64(4), int64(1), object(7)
memory usage: 52.4+ KB

In [33]:
budgets_df2.head()

,% budget recovered,% of gross from domestic,% of gross from international,budget (m),decade,domestic gross (m),inflation adjusted gross (m),international gross (m),title,unadjusted gross (m),worldwide gross,x times budget recovered,year
0,702%,46.20%,53.80%,65.0,2000's,211,671,245,300,456,"456,082,343",7.0,2007
1,427%,41.40%,58.60%,90.0,2010's,159,455,225,1917,385,"384,576,334",4.3,2019
2,396%,21.00%,79.00%,200.0,2000's,166,"1,116",625,2012,791,"791,217,826",4.0,2009
3,479%,42.50%,57.50%,67.0,1990's,136,618,185,101 Dalmatians,321,"320,689,294",4.8,1996
4,663%,57.90%,42.10%,50.0,2010's,192,422,140,22 Jump Street,331,"331,333,876",6.6,2014

In [37]:
top500movies_df1.head()

,% budget recovered,% of gross from domestic,% of gross from international,budget (m),decade,domestic gross (m),international gross (m),title,worldwide gross,worldwide gross (m),x times budget recovered,year
0,702%,46.2%,53.8%,65.0,2000's,211.0,245,300,"456,082,343",456.0,7.0,2007
1,427%,41.4%,58.6%,90.0,2010's,159.0,225,1917,"384,576,334",385.0,4.3,2019
2,396%,21.0%,79.0%,200.0,2000's,166.0,625,2012,"791,217,826",791.0,4.0,2009
3,479%,42.5%,57.5%,67.0,1990's,136.0,185,101 Dalmatians,"320,689,294",321.0,4.8,1996
4,663%,57.9%,42.1%,50.0,2010's,192.0,140,22 Jump Street,"331,333,876",331.0,6.6,2014

In [42]:
# convert top500movies_df1[domestic gross (m)] column into int64
top500movies_df1['domestic gross (m)'] = top500movies_df1['domestic gross (m)'].astype(int)
top500movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             558 non-null    object
 1   % of gross from domestic       558 non-null    object
 2   % of gross from international  558 non-null    object
 3   budget (m)                     558 non-null    float64
 4   decade                         558 non-null    object
 5   domestic gross (m)             558 non-null    int32
 6   international gross (m)        558 non-null    object
 7   title                          558 non-null    object
 8   worldwide gross                558 non-null    object
 9   worldwide gross (m)            558 non-null    float64
 10  x times budget recovered       558 non-null    float64
 11  year                           558 non-null    int64
dtypes: float64(3), int32(1), int64(1), object(7)
memory usage: 50.3+ KB

In [43]:
movie_budgets_df = pd.merge(budgets_df2,top500movies_df1)

In [45]:
# DID NOT WORK ???
movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   % budget recovered             0 non-null      object
 1   % of gross from domestic       0 non-null      object
 2   % of gross from international  0 non-null      object
 3   budget  (m)                    0 non-null      float64
 4   decade                         0 non-null      object
 5   domestic gross (m)             0 non-null      int64
 6   inflation adjusted gross (m)   0 non-null      object
 7   international gross (m)        0 non-null      object
 8   title                          0 non-null      object
 9   unadjusted gross (m)           0 non-null      int64
 10  worldwide gross                0 non-null      object
 11  x times budget recovered       0 non-null      float64
 12  year                           0 non-null      int64
 13  budget (m)                     0 non-null      float64
 14  title                          0 non-null      object
 15  worldwide gross (m)            0 non-null      float64
dtypes: float64(4), int64(3), object(9)
memory usage: 0.0+ bytes