In [1]:
# Team Jupiter

## A look at what affects a movies success?
    ### Success to be defined as both highest rated or most profitable.

In [21]:
# import packages

import pandas as pd
import numpy as np
import matplotlib
import glob
import os

In [43]:
# read in movie list and ratings files

ratings_df = pd.read_csv("../Data/ratings.csv")
movies_df = pd.read_csv("../Data/movies.csv")

In [23]:
# read in movie budgets, top 500 movies and best films since 1950 csv files

budgets_df = pd.read_csv("../Data/Most Profitable Movies of All Time - Inflation Adjusted.csv")
top500movies_df = pd.read_csv("../Data/Most Profitable Movies of All Time - Top 500 Movies (pink = added by us).csv")
yearbestmovie_df = pd.read_csv("../Data/Best_Films_Every_Year_Since_1950.csv")

In [24]:
# drop columns that wont be used for wrangling
# start with rating_df

In [30]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [31]:
ratings_df1 = ratings_df.drop(['timestamp'], axis=1)

In [33]:
ratings_df1 = ratings_df1.dropna()

In [34]:
ratings_df1.info() 
# no values were dropped, no nulls!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.3 MB

In [48]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movieId   9742 non-null   int64
 1   title     9742 non-null   object
 2   genres    9742 non-null   object
 3   genres.1  6891 non-null   object
 4   genres.2  3673 non-null   object
 5   genres.3  1335 non-null   object
 6   genres.4  348 non-null    object
 7   genres.5  77 non-null     object
 8   genres.6  14 non-null     object
 9   genres.7  2 non-null      object
 10  genres.8  1 non-null      object
 11  genres.9  1 non-null      object
dtypes: int64(1), object(11)
memory usage: 913.4+ KB

In [50]:
yearbestmovie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        70 non-null     int64
 1   Const           70 non-null     object
 2   Created         70 non-null     object
 3   Modified        70 non-null     object
 4   Description     0 non-null      float64
 5   Title           70 non-null     object
 6   URL             70 non-null     object
 7   Title Type      70 non-null     object
 8   IMDb Rating     70 non-null     float64
 9   Runtime (mins)  70 non-null     int64
 10  Year            70 non-null     int64
 11  Genres          70 non-null     object
 12  Num Votes       70 non-null     int64
 13  Release Date    70 non-null     object
 14  Directors       70 non-null     object
dtypes: float64(2), int64(4), object(9)
memory usage: 8.3+ KB

In [53]:
# drop columns [0,1,2,3,4,6,7] from Best_Films_Every_Year_Since_1950.csv

yearbestmovie_df1 = yearbestmovie_df.drop(yearbestmovie_df.columns[[0,1,2,3,4,6,7]],axis = 1)
yearbestmovie_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           70 non-null     object
 1   IMDb Rating     70 non-null     float64
 2   Runtime (mins)  70 non-null     int64
 3   Year            70 non-null     int64
 4   Genres          70 non-null     object
 5   Num Votes       70 non-null     int64
 6   Release Date    70 non-null     object
 7   Directors       70 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 4.5+ KB

In [54]:
budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          476 non-null    object
 1   unadjusted gross ($m)          476 non-null    int64
 2   inflation adjusted gross ($m)  476 non-null    object
 3   % budget recovered             476 non-null    object
 4   x times budget recovered       476 non-null    float64
 5   budget  (m)                    476 non-null    float64
 6   domestic gross (m)             476 non-null    int64
 7   domestic %                     476 non-null    object
 8   international gross (m)        476 non-null    object
 9   % of gross from international  476 non-null    object
 10  worldwide gross                476 non-null    object
 11  year                           476 non-null    int64
 12  decade                         476 non-null    object
 13  source                         476 non-null    object
 14  budget source                  397 non-null    object
 15  force label                    5 non-null      object
dtypes: float64(2), int64(3), object(11)
memory usage: 59.6+ KB

In [55]:
# drop columns [13, 14, 15] from Most Profitable Movies of All Time - Inflation Adjusted.csv

budgets_df1 = budgets_df.drop(budgets_df.columns[[13, 14, 15]],axis = 1)
budgets_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          476 non-null    object
 1   unadjusted gross ($m)          476 non-null    int64
 2   inflation adjusted gross ($m)  476 non-null    object
 3   % budget recovered             476 non-null    object
 4   x times budget recovered       476 non-null    float64
 5   budget  (m)                    476 non-null    float64
 6   domestic gross (m)             476 non-null    int64
 7   domestic %                     476 non-null    object
 8   international gross (m)        476 non-null    object
 9   % of gross from international  476 non-null    object
 10  worldwide gross                476 non-null    object
 11  year                           476 non-null    int64
 12  decade                         476 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 48.5+ KB

In [56]:
top500movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          558 non-null    object
 1   worldwide gross (m)            558 non-null    float64
 2   % budget recovered             558 non-null    object
 3   X times budget recovered       558 non-null    float64
 4   budget  (millions)             558 non-null    float64
 5   domestic gross (m)             558 non-null    float64
 6   domestic %                     558 non-null    object
 7   international gross (m)        558 non-null    object
 8   % of gross from international  558 non-null    object
 9   worldwide gross                558 non-null    object
 10  year                           558 non-null    int64
 11  decade                         558 non-null    object
 12  source                         477 non-null    object
 13  budget source                  398 non-null    object
 14  force label                    5 non-null      object
 15  horror                         558 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 69.9+ KB

In [57]:
# drop columns [12, 13, 14, 15] from Most Profitable Movies of All Time - Top 500 Movies (pink = added by us).csv

top500movies_df1 = top500movies_df.drop(top500movies_df.columns[[12, 13, 14, 15]],axis = 1)
top500movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   title                          558 non-null    object
 1   worldwide gross (m)            558 non-null    float64
 2   % budget recovered             558 non-null    object
 3   X times budget recovered       558 non-null    float64
 4   budget  (millions)             558 non-null    float64
 5   domestic gross (m)             558 non-null    float64
 6   domestic %                     558 non-null    object
 7   international gross (m)        558 non-null    object
 8   % of gross from international  558 non-null    object
 9   worldwide gross                558 non-null    object
 10  year                           558 non-null    int64
 11  decade                         558 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 52.4+ KB