In [1]:
# import in packages needed for the project

import pandas as pd                 # to load in data
import numpy as np                  # to transform data
import matplotlib.pyplot as plt
from pylab import *
import seaborn as sns
%matplotlib inline
import  statsmodels.api as sm       # statsmodel packages to test for assumptions
import statsmodels.stats.api as sms
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
import scipy                        # scipy to run ANOVAs
from scipy import stats 
from scipy.stats import boxcox
import glob                         # to import,read and combine multiple csv files at once if needed
import os

In [2]:
hollywood_df = pd.read_csv("../Data/The Hollywood Insider - all data.csv")

In [3]:
hollywoodVizdata = hollywood_df

In [4]:
hollywoodVizdata.head()

,Film,Rotten Tomatoes % critics,Metacritic % critics,Average critics %,Rotten Tomatoes Audience %,Metacritic Audience %,Rotten Tomatoes vs Metacritic % deviance,Average audience %,Audience vs Critics deviance %,Primary Genre,...,Worldwide Gross,Worldwide Gross ($million),% of Gross earned abroad,Budget ($million),% Budget recovered,% Budget recovered opening weekend,Year,Oscar Winners,Oscar Detail,Link
0,9,57.0,60,58.5,58.0,67,-9,62.5,-4,animation,...,"48,410,000",48,34.44%,30,161%,35.67%,2009,NaN,NaN,http://www.amazon.com/gp/product/B00JNK2T7A/?t...
1,21,35.0,48,41.5,73.0,62,11,67.5,-26,crime,...,"157,930,000",158,48.61%,35,451%,68.86%,2008,NaN,NaN,http://www.amazon.com/gp/product/B001EMXS1Q/?t...
2,42,79.0,62,70.5,86.0,74,12,80,-9.5,Biography,...,"95,021,108",95,942.37%,40,238%,68.72%,2013,NaN,NaN,http://www.amazon.com/gp/product/B00DYQW6EU/?t...
3,300,60.0,51,55.5,89.0,71,18,80,-24.5,period,...,"456,068,181",456,53.82%,65,702%,109.05%,2007,NaN,NaN,http://www.amazon.co.uk/dp/B00EU7O4D8?ref_=imd...
4,2012,39.0,49,44,63.0,54,9,58.5,-14.5,action,...,"769,690,000",770,78.42%,200,385%,32.65%,2009,NaN,NaN,http://www.amazon.com/gp/product/B00S4P24GQ/?t...

In [5]:
hollywoodVizdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694 entries, 0 to 1693
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Film                                      1694 non-null   object
 1   Rotten Tomatoes % critics                 1693 non-null   float64
 2   Metacritic % critics                      1694 non-null   object
 3   Average critics %                         1694 non-null   object
 4   Rotten Tomatoes Audience %                1693 non-null   float64
 5   Metacritic Audience %                     1694 non-null   object
 6   Rotten Tomatoes vs Metacritic % deviance  1694 non-null   object
 7   Average audience %                        1694 non-null   object
 8   Audience vs Critics deviance %            1694 non-null   object
 9   Primary Genre                             1694 non-null   object
 10  Genres                                    948 non-null    object
 11  Genres.1                                  453 non-null    object
 12  Genres.2                                  104 non-null    object
 13  Genres.3                                  44 non-null     object
 14  Genres.4                                  16 non-null     object
 15  Genres.5                                  2 non-null      object
 16  Genres.6                                  2 non-null      object
 17  Script Type                               1694 non-null   object
 18  Opening weekend ($million)                1694 non-null   float64
 19  Opening Weekend                           1694 non-null   object
 20  Domestic gross ($million)                 1693 non-null   float64
 21  Domestic Gross                            1694 non-null   object
 22  Foreign Gross ($million)                  1694 non-null   float64
 23  Foreign Gross                             1694 non-null   object
 24  Worldwide Gross                           1694 non-null   object
 25  Worldwide Gross ($million)                1694 non-null   object
 26  % of Gross earned abroad                  1694 non-null   object
 27  Budget ($million)                         1694 non-null   object
 28  % Budget recovered                        1670 non-null   object
 29  % Budget recovered opening weekend        1694 non-null   object
 30  Year                                      1694 non-null   int64
 31  Oscar Winners                             56 non-null     object
 32  Oscar Detail                              55 non-null     object
 33  Link                                      1687 non-null   object
dtypes: float64(5), int64(1), object(28)
memory usage: 450.1+ KB

In [6]:
hollywoodVizdata["Average audience %"] = hollywoodVizdata["Average audience %"].str.replace('â€“','-').str.replace(r'^-$', '0', regex=True).astype(float)
hollywoodVizdata['ratings'] = hollywoodVizdata['Average audience %'].map(lambda x: 'The Good' if x>=67 else 'The Bad' if x<67 and x>=33 else 'The Ugly')
hollywoodVizdata['ratings'].value_counts()

The Bad     928
The Good    716
The Ugly     50
Name: ratings, dtype: int64

In [7]:
a= hollywoodVizdata['Primary Genre'].unique()
print(sorted(a))

['Action', 'Adventure', 'Animation', 'Biography', 'Black Comedy', 'Comedy', 'Crime', 'Drama', 'Fantasy', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'action', 'adventure', 'adventure ', 'animation', 'biography', 'biography ', 'biography  ', 'comedy', 'crime', 'crime ', 'drama', 'drama ', 'family', 'fantasy', 'fantasy ', 'history', 'horror', 'music', 'music  ', 'musical', 'mystery', 'mystery ', 'period', 'romance', 'romantic comedy', 'sci-fi', 'sci-fi ', 'sport', 'sports', 'thriller', 'war', 'western']

In [8]:
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].str.lower()

In [9]:
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].str.strip()

In [10]:
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('black comedy', 'comedy'))
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('romantic comedy', 'comedy'))
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('music', 'musical'))
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('sport', 'sports'))

In [14]:
a= hollywoodVizdata['Primary Genre'].unique()
print(sorted(a))

['action', 'adventure', 'animation', 'biography', 'comedy', 'crime', 'drama', 'family', 'fantasy', 'history', 'horror', 'musical', 'musicalal', 'mystery', 'period', 'romance', 'sci-fi', 'sports', 'sportss', 'thriller', 'war', 'western']

In [15]:
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('musicalal', 'musical'))
hollywoodVizdata['Primary Genre'] = hollywoodVizdata['Primary Genre'].apply(lambda x: x.replace('sportss', 'sports'))
a= hollywoodVizdata['Primary Genre'].unique()
print(sorted(a))

['action', 'adventure', 'animation', 'biography', 'comedy', 'crime', 'drama', 'family', 'fantasy', 'history', 'horror', 'musical', 'mystery', 'period', 'romance', 'sci-fi', 'sports', 'thriller', 'war', 'western']

In [16]:
hollywoodVizdata.to_csv('../Data/hollywoodVizdata.csv', encoding='utf-8')